<h1>Все карточки</h1>


<div class="row">

<% @cards.each do |card| %>
  <div class="row">
    <div class="col-md-4">
      <pre> 

        <%= card.original_text %>
        <%= card.translated_text %>
        <%= card.review_date.strftime("%d.%m.%Y") %>
        </br>
        <%= link_to 'Редактировать', edit_card_path(card) %>
        <%= link_to 'Удалить', card, method: :delete, data: { confirm: 'Точно удалить?' } %>
      </pre>
    </div>
  </div>
<% end %>


