%h1 Запоминай
.row
  .col-md-7
    %pre
      %br
      = image_tag @card.picture.url(:thumb)
      %br
      = @card.original_text
      %br
      = @card.translated_text
      %br
      = @card.review_date.strftime("%d.%m.%Y")
      %br
    = link_to "тренировать", train_url
